/** {*/
/*    outline: 1px solid red*/
/*}*/

@font-face {
    font-family: 'Myriad Pro';
    src: url(assets/fonts/MYRIADPRO-BOLD.OTF) format('opentype');
}

body {
    margin: 0;
    padding: 0;
}

.clearfix:after {
    content: '';
    display: table;
    width: 100%;
    clear: both;
}

div {
    box-sizing: border-box;
}

header {
    background: url(assets/img/orel.jpg) no-repeat center top / cover;
    /*height: 1134px;*/
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.logo {
    margin-top: 45px;
    float: left;
    margin-left: 0;
    height: 25px;
}

.navImg {
    filter: invert(100%);
    -webkit-filter: invert(100%);
    width: 21px;
    height: 18px;
    margin-top: 3px;
}

nav {
    float: right;
    margin-top: 40px;
}

.menu {
    padding: 0;
    margin-top: 40px;
    display: block;
}

.menu li {
    float: left;
    display: block;
    margin-right: 55px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;

}

a:focus {
    color: #dec751;
    border-bottom: 1px solid #dec751;
}

.tittle-first {
    font-family: 'Kaushan Script', cursive;
    margin-top: 150px;
    font-size: 55px;
    color: #fff;
    text-align: center;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    margin: 15px;
    font-size: 105px;
    color: white;
    text-align: center;
    text-transform: uppercase;

}

h2 {
    font-family: 'Montserrat', sans-serif;
    margin-top: 25px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

.button {
    font-family: 'Montserrat', sans-serif;
    border: 3px solid white;
    color: #fff;
    display: block;
    width: 150px;
    padding: 12px 0;
    margin: 0 auto;
    margin-top: 125px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    position: relative;
}

.button::before {
    content: '';
    position: absolute;
    background: #fff;
    width: 60px;
    height: 3px;
    bottom: 135px;
    left: 50%;
    transform: translate(-50%, 50%);
}

.infoUnderTittle {
    opacity: 0.7;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    padding: 0;
    margin-top: 160px;
    margin-bottom: 0px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.infoUnderTittle li {
    margin-top: 20px;
    margin-bottom: 25px;
    /*display: inline-block;*/
    /*justify-content: left;*/
    font-size: 15px;
    margin-right: 25px;
    list-style-type: none;
}

.infoBold {
    font-size: 18px;
    font-weight: 400;
}

.imgMinusTop {
    width: 270px;
    position: relative;
    margin-bottom: 15px;
}

.firstChildMinus {
    position: absolute;
    float: left;
    margin: 0 auto;
    padding: 0;
    height: 4px;
}

.tittle {
    padding-top: 0px;
}

.tittle h2 {
    font-family: Montserrat;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #333333;
    margin-top: 0px;
}

.tittleBottom1st {
    font-family: 'Kaushan Script';
    font-size: 24px;
    line-height: 1.2;
    font-weight: 400;
    color: #333333;
    padding-top: 90px;
    margin-bottom: 23px;
    text-align: center;
}

#uniqueDesign {
    background: url("assets/img/Section3wallpaper.png");
    height: 850px;
}

.psevdoElement {
    margin-top: 30px;
    margin-bottom: 45px;
    display: flex;
    justify-content: center;
}

.story {
    text-align: center;
    margin-bottom: 100px;
    font-family: Roboto;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #999999;
}

.picsStory {
    margin-bottom: 105px;
    display: flex;
}

.picsShadow {
    box-shadow: 11px 11px 14px #95e1d3;
}

.pics2section {
    float: left;
    position: relative;
    text-align: center;
}

.textOnPics1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.textOnPics1 p {
    color: white;
    text-transform: uppercase;
    height: 15px;
    margin-top: 10px;
}

.pics2section:last-child {
    float: right;
    margin-left: 30px;
}

.pics2section:nth-child(2) {
    margin-left: 30px;
}

.bottom2section {
    background-color: #95e1d3;
    height: 270px;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 29px;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
}

.bottom2section li {
    float: left;
    display: inline-block;
    margin-top: 80px;
    font-size: 14px;
    margin-right: 50px;
    margin-left: 45px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;

}

.bottom2section span {
    font-size: 72px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.services {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 300px;
}

.services_item h3 {
    font-family: 'Myriad Pro', sans-serif;
    font-size: 15px;
    color: #333333;
    text-transform: uppercase;
    margin-bottom: 0px;
    /*font-weight: normal;*/
}

.services_item p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #b3b3b3;
    margin-top: 15px;
}

.imgLeft {
    float: left;
    margin-top: 20px;
}

.services_items {
    display: flex;
}

.services_item {
    width: 325px;
    /*float: left;*/
    text-align: left;
    margin-top: 0;
    margin-left: 30px;
}

.img-holder {
    /*display: flex;*/
    /*justify-content: space-between;*/
    position: relative;
}

.img3section1 {
    position: absolute;
    z-index: 0;
    top: -28px;
    left: 350px;
    border-radius: 28px;
}

.img3section2 {
    position: absolute;
    z-index: 999;
    top: 175px;
    left: 735px;
    border-radius: 28px;
}

.tittleBottom1st4section {
    font-family: 'Kaushan Script';
    font-size: 24px;
    line-height: 1.2;
    font-weight: 400;
    color: #333333;
    padding-top: 90px;
    margin-bottom: 15px;
    text-align: center;
    margin-top: 35px;
}

.img4section-folder {
    display: flex;
    justify-content: center;
}

.section4-items {
    display: flex;
    flex-direction: column;

}

.sect4-item p {
    padding-top: 10px;
}

.sect4-item {
    display: flex;
    justify-content: left;
    border: 1px solid #cccccc;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #1e1d1d;
}

.sect4-item span {
    font-family: Roboto;
    font-size: 15px;
    line-height: 24px;
    font-weight: 300;
    font-style: italic;
    color: #999999;
    /*padding: 15px;*/
    text-align: center;
}

.img4section {
    padding: 15px;
    position: relative;
}

.img4secBig {
    margin-right: 20px;
}

.textAndImg4sec {
    display: flex;
    justify-content: space-between;
    width: 518px;
}

.imgArrow {
    margin: 25px;
}

.textLine {
    margin-right: 30px;
    position: relative;

}

.textLineBlue {
    position: absolute;
    right: 206px;
}

.sectSpace2and3 {
    margin-bottom: 10px;
}

.spase3and4sec {
    display: flex;
    justify-content: left;
    border: 1px solid #cccccc;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #1e1d1d;
    margin-bottom: 10px;
}

.bottomSect4 {
    background-color: #f8f8f8;
    margin-top: 120px;
}

.bottom4section-folder {
    width: 1200px;
    display: flex;
    justify-content: center;
}

.imgBottom4section {
    position: relative;
    margin-top: 70px;
    margin-bottom: 70px;
}

.imgDialogs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.textDialogs4section {
    margin-left: 61px;
}

.textDialogs4section p {
    font-family: Roboto;
    font-size: 24px;
    line-height: 36px;
    font-weight: 300;
    font-style: italic;
    color: #999999;
    text-align: left;
    padding-top: 0px;
    margin-top: 80px;
    width: 700px;

}

.textDialogs4section span {
    font-family: 'Kaushan Script';
    font-size: 24px;
    line-height: 1.2;
    font-weight: 400;
    color: #333333;

}

.imgArrowLeftRight {
    margin-right: 75px;
    margin-left: 75px;
    margin-top: 134px;
}

.logosOnImg1sec5 {
    display: flex;
    background-color: #fce38a;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logoFacebook {
    width: 56px;
    height: 56px;
    background-color: #f38181;
    display: flex;
    justify-content: center;
    align-items: center;
}

.facebook {
    width: 13px;
    height: 26px;
    text-align: center;
    opacity: 0.5;
}

.logoSSocial {
    border: 1px solid #f38181;
    background-color: #fce38a;
    padding: 14px;
    opacity: 0.5;
}

.logoSocial {
    width: 26px;
    height: 22px;
}

.img5sec-folder {
    display: flex;
}

.img5section {
    width: 380px;
    height: 470px;
    background-color: #95e1d3;
}

.fontMembersTeam {
    margin-top: 31px;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #333333;
}

.fontMembersTeam span {
    padding-top: 15px;
    font-family: Roboto;
    font-size: 15px;
    line-height: 24px;
    font-weight: 300;
    font-style: italic;
    color: #999999;
}

.bottom5section {
    width: 1920px;
    height: 250px;
    background-color: #f8f8f8;
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
}

.bottomSect5 {
    width: 1212px;
    background-color: #f8f8f8;
    margin-top: 118px;
}

.logosBottom5sec {
    margin-top: 51px;
    margin-bottom: 51px;
    width: 1212px;
    height: 149px;
    opacity: 0.8;
}

.galery-content {
    display: flex;
    justify-content: center;
    padding: 0;
}

.imgWithText {
    position: relative;
    text-align: center;
}

.pics6section {
    padding: 0;
    position: relative;
    text-align: center;
}

.locatedOnImg6sec {
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.locatedOnImg6sec p {
    margin-top: 10px;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
}

.locatedOnImg6sec span {
    padding-top: 10px;
    font-family: Roboto;
    font-size: 12px;
    line-height: 24px;
    font-weight: 300;
    font-style: italic;
    color: #ffffff;
    letter-spacing: 0px;
}

.imgWithText {
    width: 30px;
    height: 30px;
}

.galery {
    display: flex;
    flex-direction: column;
}

.bottom6section-folder {
    width: 1200px;
    display: flex;
    margin-top: 100px;
}

.bg7section {
    background: url("assets/img/bg7section.jpg");
}

.people {
    display: flex;
    justify-content: flex-start;
}

.descriptionPeople {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 60px;
}

.psevdoElForPeople {
    margin-top: 5px;
    margin-bottom: 10px;
}

.name {
    font-family: Montserrat;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 500;
    text-transform: uppercase;
    color: #333333;
    padding-bottom: 5px;
    ont-weight: bold;
}

.name2 {
    font-family: Roboto;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    font-style: italic;
    color: #333333;
}

.descriptionPeople p {
    margin: 0;
    font-family: Roboto;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #999999;
}

.peopleSay {
    display: flex;
    justify-content: space-between;
}

.peopleRight {
    margin-left: 60px;
}

.sec8descriptionTitle {
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #333333;
    text-align: left;
}

.sec8description {
    text-align: left;
    font-family: Roboto;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #999999;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 15px;
}

.logosOnImg1sec8 {
    width: 60px;
    height: 70px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px;
    background-color: #95e1d3;
    position: absolute;
    top: 41%;
    left: -3%;
}

.img8sec1 {
    position: relative;
}

.dateFor8sec {
    font-family: Montserrat;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.monthFor8sec {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    text-transform: none;
    color: #ffffff
}

.bottomImg8sec {
    margin-top: 15px;
    text-align: left;
    font-family: Roboto;
    font-size: 15px;
    line-height: 24px;
    font-weight: 300;
    font-style: italic;
    color: #999999;
}

.bottom8sec {
    margin-top: 120px;
    background: url("assets/img/img8secBottom.jpg");
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(255, 255, 255, 0.85);;
}

.openMap {
    font-family: Montserrat;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #f38181;
}

.psevdoElement8sec {
    margin-top: 10px;
    margin-bottom: 60px;
}

.pointInMap {
    margin-top: 57px;
    margin-bottom: 5px;
    border-bottom: 1px solid #e5e5e5;
    /*padding-bottom: 100px;*/
}
.leftPartFooter{
    width: 460px;
}
.centralPartFooter {
    width: 340px;
    margin-left: 45px;
}
.rightPartFooter {
    margin-left: 70px;
    /*max-width: 270px;*/
}
.partsFooter {
    display: flex;
    margin-top: 74px;
    justify-content: space-between;
}

.textlogoMogoFooter {
    font-family: Montserrat;
    font-size: 46px;
    line-height: 1.2;
    font-weight: 700;
    color: #cccccc;
    margin-bottom: 42px;
}

.textFooter {
    font-family: Roboto;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #999999;
}

.textFollowers {
    font-family: Montserrat;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    color: #333333;
    margin-top: 50px;
    padding-bottom: 18px;
    border-bottom: 1px solid #e5e5e5;
}

.textFollowers span {
    font-size: 14px;
    font-weight: 400;
}

.textFollowUs {
    font-family: Roboto;
    font-size: 15px;
    line-height: 24px;
    font-weight: 300;
    font-style: italic;
    color: #999999;
}

.logoFooter {
    margin-left: 10px;
}

.logosFooter {
    /*width: 16px;*/
    /*height: 14px;*/
    /*background-color: #95e1d3;*/
}

.followUs {
    display: flex;
    justify-content: left;
    width: 310px;
    margin-top: 16px;
    margin-bottom: 38px;
}

.buttonEmail {
    width: 230px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #e7e7e7;
}

.inputFooter {
    font-family: Roboto;
    font-size: 15px;
    line-height: 24px;
    font-weight: 300;
    font-style: italic;
    color: #cccccc;
    border: none;
    padding: 8px;
    width: 230px;
    height: 40px;
}

.buttonSubscribe {
    width: 150px;
    height: 40px;
    background-color: #95e1d3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnSubscribe {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
    padding-left: 0;
    text-decoration: none;
    /*text-align: center;*/
}

.buttonsForBottom {
    display: flex;
}

.tittleCentralPartFooter {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #333333;
}

.text1footer {
    font-family: Montserrat;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #333333;
    /*width: 193px;*/
    /*height: 27px;*/
    /*margin-bottom: 5px;*/
}

.text2footer {
    font-family: Roboto;
    font-size: 13px;
    line-height: 24px;
    font-weight: 300;
    font-style: italic;
    color: #999999;
}

.folderForTextImgFooter {
    text-align: left;
    margin-left: 15px;
}

.imgPlusText {
    display: flex;
    margin-bottom: 30px;
}

.tittleCentralPartFooter {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 40px;
}

.lastText {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #333333;
    text-align: center;
    border-top: 1px solid #e5e5e5;
    padding: 22px;
    margin-top: 35px;
}

.lastText span {
    color: #f38181;
}

.lastDiv {
    /*width: 1920px;*/
    height: 100px;
    background-color: #f8f8f8;
}

.textRightPartBottom {
    font-family: Roboto;
    font-size: 13px;
    line-height: 24px;
    font-weight: 300;
    font-style: italic;
    color: #333333;
    padding-top: 10px;
}
.imgRightPart {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 270px;
}
.item {
    flex: 0 1 calc(100%/3 - 2px*2);
    margin: 2px;
}

.item-box {
    width: 100%;
    text-align: center;
}

.item-box img {
    width: 100%;
}

@media (max-width: 1300px ) {
    .container{

    }
    .galery-content {
        display: block;
    }

    .galery, .galery2, .galery3 {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
