body {
    margin: 0;
    padding: 0;
}

.clearfix:after {
    content: '';
    display: table;
    width: 100%;
    clear: both;
}

div {
    box-sizing: border-box;
}

header {
    background: url("./img/orel.jpg") no-repeat center top / cover;
    /*height: 1134px;*/
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.logo {
    margin-top: 45px;
    float: left;
    margin-left: 0;
    height: 25px;
}

.navImg {
    filter: invert(100%);
    -webkit-filter: invert(100%);
    width: 21px;
    height: 18px;
    margin-top: 3px;
}

nav {
    float: right;
    margin-top: 40px;
}

.menu {
    padding: 0;
    margin-top: 40px;
    display: block;
}

.menu li {
    float: left;
    display: block;
    margin-right: 55px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}

a:focus {
    color: #dec751;
}

.tittle-first {
    font-family: 'Kaushan Script', cursive;
    margin-top: 150px;
    font-size: 55px;
    color: #fff;
    text-align: center;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    margin: 15px;
    font-size: 105px;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    margin-top: 25px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

.button {
    font-family: 'Montserrat', sans-serif;
    border: 3px solid white;
    color: #fff;
    display: block;
    width: 150px;
    padding: 12px 0;
    margin: 0 auto;
    margin-top: 125px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}

.tittle-first::before {
    content: '';
    position: absolute;
    background: #fff;
    width: 60px;
    height: 3px;
    bottom: 335px;
    left: 50%;
    transform: translate(-50%, 50%);

}

.infoUnderTittle {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin-top: 160px;
    margin-bottom: 160px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.infoUnderTittle li {
    margin-top: 20px;
    margin-bottom: 25px;
    display: inline-block;
    justify-content: left;
    font-size: 15px;
    margin-right: 25px;
}

.infoBold {
    font-size: 20px;
}
.imgMinusTop {
    width: 270px;
    position: relative;
    margin-bottom: 15px;
}
.firstChildMinus {
    position: absolute;
    float: left;
    margin: 0 auto;
    padding: 0;
    height: 4px;
}
.tittle {
    padding-top: 0px;
}

.tittle h2 {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    color: #333333
}

.tittleBottom1st {
    font-family: 'Kaushan Script', cursive;
    /*margin: 0 auto;*/
    margin-top: 90px;
    margin-bottom: 23px;
    font-size: 19px;
    text-align: center;
    color: #333333;
}

#uniqueDesign {
    background: url("./img/Section3wallpaper.jpg");
}

.psevdoElement {
    margin-top: 40px;
    margin-bottom: 45px;
    display: flex;
    justify-content: center;
}

.story {
    color: #b3b3b3;
    text-align: center;
    margin-bottom: 100px;
}

.picsStory {
    margin-bottom: 105px;
}

.picsShadow {
    box-shadow: 11px 11px 14px #95e1d3;
}
.pics2section {
    float: left;
    position: relative;
    text-align: center;
}

.textOnPics1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.textOnPics1 p {
    color: white;
    text-transform: uppercase;
    height: 15px;
    margin-top: 10px;
}

.pics2section:last-child {
    float: right;
}
.pics2section:nth-child(2) {
    margin-left: 30px;
}
.bottom2section {
    font-family:'Montserrat', sans-serif ;
    color: white;
    background-color: #95e1d3;
    height: 270px;
    font-weight: bold;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 110px;

}
.bottom2section li{
    float: left;
    display: inline-block;
    margin-top: 80px;
    font-size: 10px;
    margin-right: 60px;
    margin-left: 60px;

}
.bottom2section b {
    font-size: 55px;
}
.services_item {
    width: 330px;
    float: left;
    text-align: left;
    margin-top: 0;
    margin-left: 30px;
}
.services_item h3 {
    font-family: 'Myriad Pro', sans-serif;
    font-size: 15px;
    color: #333333;
    text-transform: uppercase;
    margin-bottom: 0px;
    /*font-weight: normal;*/
}
.services_item p{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #b3b3b3;
    margin-top: 15px;
}
.imgLeft {
    float: left;
    margin-top: 20px;
}
